modules = ["swift-5.8"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Compile Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "iOS App"

[[workflows.workflow]]
name = "iOS App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift run"

[[workflows.workflow]]
name = "Build and Run"
author = 40522605
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift --version"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift package resolve"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift run"

[[workflows.workflow]]
name = "Build Project"
author = 40529434
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift --version"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift package resolve"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Проект скомпилирован успешно. Для полноценного запуска требуется Xcode и iOS устройство/симулятор.\""

[[workflows.workflow]]
name = "Compile Project"
author = 40529434
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift --version"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift package resolve"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift build -v"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Проект скомпилирован для проверки. Для полноценного запуска требуется Xcode и iOS устройство/симулятор.\""

[deployment]
run = ["sh", "-c", "swift run"]
