modules = ["swift", "swift-5.9"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "iOS App"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "iOS App"

[[workflows.workflow]]
name = "iOS App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift run"

[deployment]
run = ["sh", "-c", "swift run"]
